.place__like {
  width: 21px;
  height: 19px;
  margin: 0 18.24px 0 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-color: #fff;
  border: none;
  outline: none;
}

.place__like:active {
  transform: scale(1.2, 1.2);
}

.place__like:hover {
  background-image: url(../../../images/like-hover.jpg);
  cursor: pointer;
}