.popup-card__text {
  width: 358px;
  box-sizing: border-box;
  margin: 54px 0 30px;
  padding: 0 0 13.3px 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup-card__text:focus {
  outline: none;
}

.popup-card__text:last-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.popup-card__text::placeholder {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #C4C4C4;
}

.popup-card__text::-webkit-input-placeholder {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #C4C4C4;
}

.popup-card__text::-moz-placeholder {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #C4C4C4;
}

.popup-card__text::-ms-input-placeholder {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #C4C4C4;
}

@media screen and (max-width: 581px) {
  .popup-card__text {
    width: 83.3%;
    margin-top: 44px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 455px) {
  .popup-card__text {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 36px;
    margin-bottom: 20px;
    padding-bottom: 12px;
  }
  .popup-card__text::placeholder {
    font-size: 12px;
    line-height: 1.25;
  }
  
  .popup-card__text::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.25;
  }
  
  .popup-card__text::-moz-placeholder {
    font-size: 12px;
    line-height: 1.25;
  }
  
  .popup-card__text::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.25;
  }
}